/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-":before] {
    display: inline-block;
    font-family: 'zocial', sans-serif;
    width: 30px;
}


body {
    box-sizing: border-box;
    margin: 0 auto;
}


header {
    display: block;
    width: 100vw!important;
    margin-bottom: 50px;
}

h1 {
    position: absolute;
    text-align: center;
    font-size: 66px;
    font-weight: 100;
    font-family: cursive;
    margin: -40vh auto 0;
    color: white;
    width: 100vw;
}

#hero-one {
    display: block;
    width: 800px;
    margin: 0 auto;
}

#main {
    display: block;
}

img {
    width: 800px;
    max-width: 100%;
}


@media screen and (min-width:1000px){
    article {
        width: 800px;
        margin: 0 auto;
    }
}
